@model WebFinalProj.Models.Product

@{
    ViewBag.Title = "Details";
}




<div class="row">

    <div class="col-md-6 ">
        <div id="preview-box" class="preview-box">
            <img id="preview" src="@Model.ImageURL" alt="Image preview" class="img-fluid">
        </div>
    </div>

    <div class="col-md-6">
        <h2>Details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.ImageURL)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageURL)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

